USE [master]
GO
/****** Object:  Database [Session3]    Script Date: 10/1/2020 12:28:49 PM ******/
CREATE DATABASE [Session3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session3', FILENAME = N'C:\wss\Session3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session3_log', FILENAME = N'C:\wss\Session3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session3]
GO
/****** Object:  Table [dbo].[Arrival]    Script Date: 10/1/2020 12:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arrival](
	[arrivalId] [int] IDENTITY(1,1) NOT NULL,
	[userIdFK] [varchar](50) NOT NULL,
	[arrivalDate] [date] NOT NULL,
	[arrivalTime] [varchar](10) NOT NULL,
	[numberHead] [int] NOT NULL,
	[numberDelegate] [int] NOT NULL,
	[numberCompetitors] [int] NOT NULL,
	[numberCars] [int] NOT NULL,
	[number19seat] [int] NOT NULL,
	[number42seat] [int] NOT NULL,
 CONSTRAINT [PK_Arrival] PRIMARY KEY CLUSTERED 
(
	[arrivalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 10/1/2020 12:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotelId] [int] IDENTITY(1,1) NOT NULL,
	[hotelName] [varchar](50) NOT NULL,
	[singleRate] [int] NOT NULL,
	[doubleRate] [int] NOT NULL,
	[numSingleRoomsTotal] [int] NOT NULL,
	[numDoubleRoomsTotal] [int] NOT NULL,
	[numSingleRoomsBooked] [int] NOT NULL,
	[numDoubleRoomsBooked] [int] NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[hotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_Booking]    Script Date: 10/1/2020 12:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Booking](
	[bookingId] [int] IDENTITY(1,1) NOT NULL,
	[hotelIdFK] [int] NOT NULL,
	[userIdFK] [varchar](50) NOT NULL,
	[numSingleRoomsRequired] [int] NOT NULL,
	[numDoubleRoomsRequired] [int] NOT NULL,
 CONSTRAINT [PK_Hotel_Booking] PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/1/2020 12:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [varchar](50) NOT NULL,
	[countryName] [varchar](50) NOT NULL,
	[passwd] [varchar](50) NOT NULL,
	[userTypeIdFK] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Type]    Script Date: 10/1/2020 12:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Type](
	[userTypeId] [int] IDENTITY(1,1) NOT NULL,
	[userTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User_Type] PRIMARY KEY CLUSTERED 
(
	[userTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arrival]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_User] FOREIGN KEY([userIdFK])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Arrival] CHECK CONSTRAINT [FK_Arrival_User]
GO
ALTER TABLE [dbo].[Hotel_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Booking_Hotel] FOREIGN KEY([hotelIdFK])
REFERENCES [dbo].[Hotel] ([hotelId])
GO
ALTER TABLE [dbo].[Hotel_Booking] CHECK CONSTRAINT [FK_Hotel_Booking_Hotel]
GO
ALTER TABLE [dbo].[Hotel_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Booking_User] FOREIGN KEY([userIdFK])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Hotel_Booking] CHECK CONSTRAINT [FK_Hotel_Booking_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Type] FOREIGN KEY([userTypeIdFK])
REFERENCES [dbo].[User_Type] ([userTypeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User_Type]
GO
USE [master]
GO
